.card-content {
  padding-top: 0rem;
}

body {
  background: #536976; /* fallback for old browsers */
  background-repeat: no-repeat;
  background: -webkit-linear-gradient(
    to right,
    #123850,
    #171922
  ); /* Chrome 10-25, Safari 5.1-6 */
  background: linear-gradient(
    to right,
    #123850,
    #171922
  ); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
  font-family: "Gentium Book Basic", serif;
}

.text {
  background-color: transparent;

  width: 32.5rem;
}

input {
  text-align: center;
  color: #fff !important;
}

*::placeholder {
  /* Chrome, Firefox, Opera, Safari 10.1+ */

  color: #fff !important;
  opacity: 1.4; /* Firefox */
  text-transform: uppercase;
}

.MuiInput-underline:hover:not(.Mui-disabled):before {
  border-bottom: 1px solid #ff9800 !important;
  border-bottom-color: #ff9800 !important;
}

.MuiInput-underline:after {
  border-bottom: 2px solid #ff9800 !important;
}
.MuiButton-contained {
  box-shadow: none !important;
}
.MuiButton-root {
  color: rgba(0, 0, 0, 0.87);
  padding: 6px 16px;
  font-size: 0.875rem;
  min-width: 64px;
  box-sizing: border-box;
  transition: none !important;
}
a:-webkit-any-link {
  color: -webkit-link;
  cursor: pointer;
  text-decoration: none !important;
}
.MuiButtonBase-root {
  color: #fff !important;
  /* border-color: #ff9800 !important; */
}
.MuiButton-root {
  color: #fff !important;
  border-color: #ff9800 !important;
  margin-left: 2rem !important;
}
.MuiButtonBase-root:hover {
  color: #fff !important;
  border-color: #ff9800 !important;
  -webkit-tap-highlight-color: none !important;
}
*/ .MuiButton-root {
  transition: none !important;
  border-radius: none !important;
}

.MuiLink-button .MuiLink-underlineHover:hover {
  text-decoration: none !important;
}

.MuiTouch-Ripple-root {
  background: none;
  text-transform: none;
}
.MuiLink-underlineHover {
  text-decoration: none;
  text-decoration-line: none;
  text-decoration-thickness: none;
  text-decoration-style: none;
  text-decoration-color: none;
  color: rgba(0, 0, 0, 0.87);
}

a:hover {
  background-color: #123850ce !important;
  border-color: #ff9800;
}
