.card-content {
  padding-top: 0rem;
}

body {
  background: #536976; /* fallback for old browsers */
  background: -webkit-linear-gradient(
    to right,
    #123850,
    #171922
  ); /* Chrome 10-25, Safari 5.1-6 */
  background: linear-gradient(
    to right,
    #123850,
    #171922
  ); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
  font-family: "Gentium Book Basic", serif;
}

.text {
  background-color: transparent;

  width: 32.5rem;
}

input {
  text-align: center;
  color: #fff !important;
}

.MuiInput-underline:hover:not(.Mui-disabled):before {
  border-bottom: 1px solid #ff9800 !important;
  border-bottom-color: #ff9800 !important;
}

.MuiInput-underline:after {
  border-bottom: 2px solid #ff9800 !important;
}
.MuiButtonBase-root {
  color: #fff !important;
  border-color: #ff9800 !important;
}

.MuiButton-root {
  color: #fff !important;
  border-color: #ff9800 !important;
  margin-left: 2rem !important;
}
.MuiButtonBase-root:hover {
  color: #fff !important;
  border-color: #ff9800 !important;
}
