header {
  background: #123850; /* fallback for old browsers */
  background: no-repeat;
  background: -webkit-linear-gradient(
    to right,
    #123850,
    #123850
  ); /* Chrome 10-25, Safari 5.1-6 */
  background: linear-gradient(
    to right,
    #123850,
    #123850
  ); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
  font-family: "Gentium Book Basic", serif;
}
